<!-- DOCUMENTAÇÃO -->
<section class="documentation mx-auto">
    <div class="card rounded my-3 shadow-sm">
        <div class="card-body">
            <h5 class="card-title my-3 fw-bold">Documentação</h5>
            <p class="card-text">
                O Laboratório de Alto Desempenho da PUCRS disponibiliza alguns recursos para informações e instruções,
                como seguem.
            </p>

            <div class="d-flex gap-4 flex-column flex-sm-row w-100">
                <div class="card p-3 bg-body-tertiary">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Manual</h5>
                        <p class="card-text">
                        <p>O manual de utilização do laboratório reune informações sobre políticas de uso, instruções de
                            acesso, utilização dos clusters, aplicações e mais.</p>
                        <a class="btn btn-outline-dark" href="{{ '/docs/' | relative_url }}">Você pode acessar o manual clicando aqui!</a>
                        </p>
                    </div>
                </div>

                <div class="card p-3 bg-body-tertiary">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">YouTube</h5>
                        <p class="card-text">
                        <p>O Canal do LabLAD no YouTube tem como objetivo demonstrar, de forma mais visual e
                            exemplificada, os procedimentos e instruções de uso do laboratório.</p>
                        <a class="btn btn-outline-dark"
                            href="{{ site.social.youtube }}">Você pode acessar o
                            canal clicando aqui! <i class="bi bi-box-arrow-up-right"></i></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>