<footer>
    <div class="container">
      <span class="navbar-text">
            <h5 class="fw-bold">Informações de contato</h5>
            <p>Av. Ipiranga, 6681 - Prédio 32 - Térreo, Sala 120 (entrada lateral)
                <br> Porto Alegre/RS - Brasil - CEP 90619-900
                <br> Telefone: <a class="link-body-emphasis" href="tel:{{ site.phone }}">{{ site.phone }}</a>
                 - E-mail: <a class="link-body-emphasis" href="mailto:{{ site.email.contact }}">{{ site.email.contact }}</a> ou <a class="link-body-emphasis" href="mailto:{{ site.email.support }}">{{ site.email.support }}</a>
            </p>
      </span>
    </div>
</footer>