<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="sidebar" aria-labelledby="offcanvaLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvaLabel">
            Navegação
        </h5>
        <button type="button" class="btn bg-transparent text-dark" data-bs-dismiss="offcanvas" aria-label="Close"><span
                class="bi bi-x-square-fill"></span></button>
    </div>
    <div class="offcanvas-body">
        <!--  NAVEGAÇÃO ENTRE TÓPICOS DOS DOCS -->
        {% include menu.html %}
    </div>
</div>