{% extends "layout.html" %} {% block body %}

<div class="cadastro">

    <!--  TÍTULO  -->
    {% if grupo %}
    <h2>Editar {{ grupo.nome }}</h2>
    {% else %}
    <h2>Cadastrar Grupo</h2>
    {% endif %}

    <!--  FORMULÁRIO  -->
    <form
        action="{% if grupo %} {{ url_for('grupo', groupName=grupo.nome) }} {% else %} {{ url_for('grupo', groupName='cadastro') }} {% endif %}"
        method=post>
        <div class="mb-3">
            <!--  STATUS  -->
            {% if grupo %}
            <label class="form-label">Status</label>
            <select class="mb-3 form-select" aria-label="Default select example" name="status">
                <option value="ativar" {% if grupo.status %}selected {% endif %} >Ativo</option>
                <option value="desativar" {% if not grupo.status %}selected {% endif %}>Inativo</option>
            </select>
            {% endif %}

            <!--  NOME  -->
            <label class="form-label">Nome</label>
            <input type="text" class="mb-3 form-control" name=nome value="{% if grupo %}{{ grupo.nome }}{% endif %}" required>

            <!--  DEMANDA  -->
            <label class="form-label">Demanda</label>
            <input type="text" class="mb-3 form-control" name=demanda
                value="{% if grupo %}{{ grupo.demanda }}{% endif %}">

            <!--  UNIDADE  -->
            <label class="form-label">Unidade</label>
            <input type="text" class="mb-3 form-control" name=unidade value="{% if grupo %}{{ grupo.unidade }}{% endif %}">
            <datalist id="unidades">
                {% for grupo in lista_grupos %}
                <option value="{{ grupo.unidade }}">
                {% endfor %}
            </datalist>

            <!--  COORDENADOR  -->
            <label class="form-label">Coordenador</label>
            <input type="text" class="mb-3 form-control" name=coordenador
                value="{% if grupo %}{{ grupo.coordenador }}{% endif %}">

            <!--  OBSERVAÇÕES  -->
            <label class="form-label">Observações</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name=observacoes rows="3">{% if grupo %}{{ grupo.observacoes }}{% endif %}</textarea>
            
            <!--  TIPO  -->
            <label class="form-label">Tipo</label>
            <input type="text" class="mb-3 form-control" name=tipo value="{% if grupo %}{{ grupo.tipo }}{% endif %}">
        </div>

        <!--  SUBMIT  -->
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% if msg %}
        <label class="btn btn-outline-warning" for="floatingInputInvalid">{{ msg }}!</label>
        {% endif %}
    </form>
</div>
{% endblock %}