<!DOCTYPE HTML>
<html lang="en">
 
<!--  CONFIGURAÇÕES BÁSICAS DO HTML  -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/dash/_favicon.ico?v=2.11.0">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <title>LAD Accounting</title>
</head>

<body>

  <!--  ABA DE NAVEGAÇÃO - LOGO E LINKS  -->
  <div class=page>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-brand-title" href="{{ url_for('homepage') }}">LAD Accounting</a>
        <img src="{{ url_for('static', filename='images/LabLAD.png') }}" alt=" Logo LabLAD" width="100" height="100" class="d-inline-block align-text-middle">
        <a class="navbar-brand-title" href="{{ url_for('/dash/') }}">LAD Dashboard</a>
      </div>
      
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cluster', clusterName='cadastro')}}">Cadastrar Cluster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('equipamento', equipName='cadastro') }}">Cadastrar Equipamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('grupo', groupName='cadastro')}}">Cadastrar Grupo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('usuario', userName='cadastro') }}">Cadastrar Usuário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('config') }}">Configurações</a>
        </li>
      </ul>
    </nav>

    <!--  EXTENSÃO USADA PELO FLASK PARA APLICAÇÕES WEB  -->
    {% block body %}{% endblock %}

  </div>

  <!--  SCRIPT   -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButton = document.getElementById("delete-button");

        deleteButton.addEventListener("click", function (event) {
            event.preventDefault();
            const confirmation = confirm("Tem certeza de que deseja excluir o banco de dados?");
            if (confirmation) {
                const deleteForm = document.getElementById("delete-form");
                deleteForm.submit();
            }
        });
    });
</script>

</body>
</html>
