---
layout: default
---

<!-- NAVEGAÇÃO EM DISPOSITIVOS MOBILE -->
{% include offcanva.html %}

<div class="container">
    <div class="row">
        <aside class="navigation col-3">

            <!-- NAVEGAÇÃO ENTRE TÓPICOS -->
            {% include menu.html %}
        </aside>

        <div class="docs col-9" id="">
            <div class="card shadow-sm p-3">
                <div class="card-body">

                    <!-- INTRODUÇÃO À DOCUMENTAÇÃO -->
                    {% include docs_header.html %}
                </div>
            </div>

            <div class="card shadow-sm my-3 p-3">
                <div class="card-body">
                    <h2 class="card-title fw-bold">{{ page.title }}</h2>
                    {{ content }}
                </div>

                <!-- FUNÇÃO DE AVNÇAR OU RETROCEDER PÁGINA -->
                {% include navigation.html %}
            </div>


        </div>
    </div>
</div>