* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

:root {
  --first_color: #FDC366;
  --second_color: #212529;
  --third_color: #111111;
  --fourth_color: #1E6EFF;
  --fifth-color: #EEE;

  font-size: 16px;
}

body, .page, html {
  width: 100%;
  min-height: 100vh;
  background: var(--second_color);
  flex-direction: column;
}

.navbar {
  background-color: var(--second_color);
  display: flex;
  flex-direction: column;
  padding: 3rem 0 1.5rem 0 !important;
}
.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.navbar-brand-title {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--fifth-color);
}

.nav-link, .nav-item {
  text-decoration: none;
  color: var(--first_color) !important;
}
.nav-link:hover {
  color: var(--fourth_color) !important;
}
section, .cadastro, .config {
  background-color: var(--third_color);
  padding: 1rem 2rem 3rem;
  width: 83%;
  margin: auto;
  border-radius: 1rem;
}

col {
  text-align: -webkit-center;
}

h1 {
  margin: 1rem;
  text-decoration: none;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  color: var(--first_color);
}

.page ul {
  list-style-type: none;
}

.page li {
  clear: both;
}

.flash {
  background: #CEE5F5;
  padding: 0.5em;
  border: 1px solid #AACBE2;
}

.avatar {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.message-content {
  min-height: 80px;
}


.card {
  max-width: 20rem;
}

.cadastro, .config {
  max-width: 50%;
  margin: auto;
}

.form-label {
  color: var(--fifth-color);
}

@media screen and (max-width: 1000px) {
  .navbar-brand {
    flex-direction: column;
    padding: auto;
    gap: 1rem;
    margin: 0 !important;
  }
  .navbar-brand img {
    order: -1;
  }
  .navbar-brand-title {
    background-color: var(--third_color);
    width: 190%;
    height: 120%;
    border-radius: .5rem;
    text-align: center;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    max-width: 90%;
    background-color: var(--third_color);
    margin: 1.5rem;
  }
  .cadastro, .config {
    max-width: 90%;
    margin: auto;
  }
}